.slideshow {
    position: relative;
    text-align: left;
    height: 100%;
    color: #fff;
    //background-image:url(./images/slideshow-bg.jpg);
    background-size: cover;
    background-position: center;
    padding: 0 0 30px 0;

    .carousel-items {
        margin:15% auto 5%  auto;
    }

    h1.carousel-desc { 
        color: #fff;
        font-size: 22px;
        line-height: 30px;
        font-weight: 600;
        margin: 20% auto 10% auto;
    }

    .swiper-container img {
        width: 100%;
    }
    .gatsby-image-wrapper  {
        img {
            opacity: 0 !important;
        }
        picture img {
            opacity: 1 !important;
            position: static !important;
            width: 100% !important;
        }
    }
    .swiper-pagination {
        .swiper-pagination-bullet {
            background:transparent !important;
            width: auto;
            opacity: 0.5;

            &:focus {
                outline: none;
            }
            &:before{
                cursor: pointer;
                margin: 0 8px 0 0;
                display: inline-block;
                width:20px;
                font-size: 14px;
            }

            &:first-child:before{
                content: '01';
            }
            &:nth-child(2):before{
                content: '02';
            }
            &:nth-child(3):before{
                content: '03';
            }
            &:nth-child(4):before{
                content: '04';
            }
            &:nth-child(5):before{
                content: '05';
            }
            &:nth-child(6):before{
                content: '06';
            }
            &:nth-child(7):before{
                content: '07';
            }
        }
        .swiper-pagination-bullet-active {
            margin: 0 50px 0 0 !important;
            position: relative;
            opacity: 1;

            &:after {
                content:'';
                border-bottom: 1px solid #fff;
                width: 50px;
                position: absolute;
                left: 25px;
                top: 11px;
            }
            &:last-child {
                margin: 0 8px 0 0;
                &:after {
                    display: none;
                }
            }
        }
    }
}
@media (min-width: 480px) {
    .slideshow h1.carousel-desc {
        margin: 6% auto;
    }
}
@media (min-width: 576px) {
    .slideshow .carousel-items {
        margin:20% auto 5% auto;
    }
    .slideshow h1.carousel-desc {
        font-size: 24px;
        line-height: 30px;
        margin: 5% auto;
    }
}
@media (min-width: 768px) {
    .carousel-items {
        margin:15% auto 0 auto;
    }
    .slideshow h1.carousel-desc {
        font-size: 28px;
        line-height: 34px;
        margin: 5% auto;
    }
}
@media (min-width: 992px) {
    .slideshow .carousel-items {
        margin:15% auto 2%  auto;
    }
    .slideshow h1.carousel-desc {
        font-size: 32px;
        line-height: 40px;
        margin: 10% auto;
    }
}
@media (min-width: 1200px) {
    .slideshow h1.carousel-desc {
        font-size: 36px;
        line-height: 48px;
    }
}
