.product-info {
    .section1 .introtext {
        padding: 30px 0 0;
        font-size: 18px;
        line-height: 24px;
    }
    .section2 { 
        .description {
            p {
                background: linear-gradient(to bottom right, #1665a2, #41c6e7);
                padding: 20px;
            }
        }
    }
    .section3 {
        .content {
            background-color: #f8f9fb;
            padding: 20px;
        }
    }
    .section4 {
        padding: 30px 0 20px 0;
    }
}
@media (min-width: 768px) {
    .product-info {
        .section1 .introtext {
            font-size: 20px;
            line-height: 26px;
        }
        .section2 {
            padding: 15% 0 0;
            position: relative; 

            .description {
                z-index: 2;
                top:0;
                position: absolute;

                p {
                    padding: 8%;
                }
            }
        }
        .section3 {
            .bg-color {
                background-color: #f8f9fb;
                .content {
                    padding: 35% 2% 5% 5%;
                    background-color: transparent;
                }
                .bg-image {
                    background-image: url('images/product-bg.png');
                    background-position: bottom;
                    background-size: cover;
                    margin-bottom: -20px;
                }
            }
        }
        .section4 {
            padding: 50px 0 20px 0;
            p {
                font-size: 16px;
            }
        }
    }
}
@media (min-width: 992px) {
    .product-info {
        .section1 .introtext {
            padding: 60px 0 0;
            font-size: 22px;
            line-height: 30px;
        }
        .section2 {
            padding: 15% 0 0;
            position: relative; 

            .description {
                z-index: 2;
                top:0;
                position: absolute;

                p {
                    padding: 8%;
                }
            }
        }
        .section3 {
            .bg-color {      
                .content {
                    padding: 22% 0% 7% 7%;
                }
            }
        }
    }
}
@media (min-width: 1200px) {
    .section2 {
        padding: 12% 0 0;
    }
    .product-info .section2 {
        padding: 12% 0 0;
        
        .description p {
            padding: 12%;
        }
    }
}