.banner {
   // background-image:url('./images/banner.jpg');
    padding: 130px 0 70px 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;

    &:before {
        content:"";
        background-color: rgba(2, 14, 36, 0.6);
        position: absolute;
        top:0;
        height: 100%;
        width: 100%;
    }
}
.banner-text {
    transform: translateY(1%);

    h1 {
        font-size: 30px;
        line-height: 38px;
        font-weight: 700;
    }
    p {
        font-size: 15px;
        margin:5px;
    }
}
@media (min-width: 576px) {
    .banner {
        padding: 20% 0 10% 0;
    }
    .banner-text {
        h1 {
            font-size: 34px;
            line-height: 40px;
        }
    }
}
@media (min-width: 768px) {
    .banner {
        padding: 15% 0 13% 0;
    }
    .banner-text {
        h1 {
            font-size: 38px;
            line-height: 44px;
        }
    }
}
@media (min-width: 992px) {
    .banner-text {
        h1 {
            font-size: 42px;
            line-height: 48px;
        }
    }
}