.blog-category a {
    color: #00d0d2;
}
.blog-detail {
    letter-spacing: 0.5px;
    
    h1 {
        font-size: 36px;
        font-weight: 700;
        line-height: 44px;
    }

    li {
        display:inline-block;
    }
}