@import "../components/common/scss/mixins.scss";

.blog-detail {
    letter-spacing: 0.5px;

    ul.info {
        li {
            display: inline-block;
            font-weight: 700;
            color: #65737f;
            font-size: 15px;
        }
    }
    strong {
        font-weight: 700;
    }
    p, li {
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
        color: #2d2d2d;
    }
    h1, h2, h3, h4, h5, h6 {
        color: #2d2d2d;
        font-weight: 700;
    }
    h1 {
        font-size: 36px;
        line-height: 44px;
    }
    h2 {
        font-size: 26px;
        line-height: 32px;
    }
    h3 {
        font-size: 22px;
        line-height: 28px;
    }
    h4 {
        font-size: 18px;
        line-height: 26px;
    }
    code {
        font-size: 95%;
        color: #e83e8c;
    }
    .taglist {
        padding-left: 0;
        li {
            list-style: none;
            display: inline-block;
            margin-right: 20px;

            a {
                @include anchor-blue-style;
                font-weight: 700;
            }
            
        }
    }
}
@media (min-width: 992px) {
    .blog-detail p, .blog-detail li {
        font-size: 18px;
        line-height: 28px;
    }
}