.accordion {
    border: none;
    border-bottom: 1px solid #ccc;
    &:last-child {
        border-bottom: none;
    }
}
.accordion__button,
.accordion__button:hover,
.accordion__button:focus {
    background-color: #fff;
    padding: 10px;
    outline: none;
}
.accordion__item h3 {
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    margin-right: 30px;
}
.accordion__button:before{
    float: right;
    content: '+';
    border: none;
    -webkit-transform: inherit;
    transform: inherit;
    margin: 0;
    width: 25px;
    height: 25px;
    background-color: #52d1d2;
    border-radius: 50%;
    padding: 2px;
    text-align: center;
    font-size: 20px;
    line-height: 22px;
    color: #fff;
}
.accordion__button[aria-expanded='true']::before, 
.accordion__button[aria-selected='true']::before {
    transform: inherit;
    content: '-';
}
.accordion__panel {
    padding: 0 10px 15px 10px;
    background: #fff;
    font-size: 14px;

    ul li {
        display: inline-block;
    }
}
@media (min-width: 576px) {
    .accordion__item h3 {
        font-size: 20px;
        line-height: 26px;
    }
    .accordion__panel {
        font-size: 15px;
    }
}
@media (min-width: 768px) {
    .accordion__item h3 {
        font-size: 22px;
        line-height: 28px;
        margin-right: 35px;
    }
    .accordion__button,
    .accordion__button:hover,
    .accordion__button:focus {
        padding: 15px;
    }
    .accordion__panel {
        padding: 0 15px 15px 15px;
        font-size: 16px;
    }
}
@media (min-width: 992px) {
    .accordion__item h3 {
        font-size: 24px;
        line-height: 32px;
    }
    .accordion__button,
    .accordion__button:hover,
    .accordion__button:focus {
        padding: 20px;
    }
    .accordion__panel {
        padding: 0 20px 15px 12px;
    }
    .accordion__button:before {
        width: 30px;
        height: 30px;
        line-height: 26px;
        font-size: 25px;
    }
}