.careers h1 {
    font-size: 36px;
    line-height: 42px;
    font-weight: 700;
}
.accordion {
    border: none;
    border-bottom: 1px solid #ccc;
}
.accordion:last-child {
    border-bottom: none;
}
.accordion__button,
.accordion__button:hover,
.accordion__button:focus {
    background-color: #fff;
    padding: 20px;
    outline: none;
}
.accordion__item h3 {
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
}
.accordion__button:before{
    float: right;
    content: '+';
    border: none;
    -webkit-transform: inherit;
    transform: inherit;
    margin: 0;
    width: 30px;
    height: 30px;
    background-color: #52d1d2;
    border-radius: 50%;
    padding: 2px;
    text-align: center;
    font-size: 25px;
    line-height: 26px;
    color: #fff;
}
.accordion__button[aria-expanded='true']::before, 
.accordion__button[aria-selected='true']::before {
    transform: inherit;
    content: '-';
}
.accordion__panel {
    padding: 0 20px 15px 20px;
    background: #fff;
}
.accordion__panel ul li {
    display: inline-block;
}