@import '../common/scss/mixins.scss';

.Collapsible {
    border-top: 1px solid #ccc;
    padding: 15px 0 0 0;
    outline: none;
    
    &:hover,
    &:focus {
        padding: 15px 0 0 0;
        outline: none;
    }
}
.Collapsible__contentOuter {
    margin: 15px 0 0 0;
}
.Collapsible__trigger {
    font-size: 17px;
    line-height: 24px;
    font-weight: 700;
    cursor: pointer;
    width: 100%;
    display: inline-block;
    color: #000;
    
    &:before{
        float: right;
        content: '+';
        border: none;
        -webkit-transform: inherit;
        transform: inherit;
        margin: 0;
        width: 25px;
        height: 25px;
        background-color: #52d1d2;
        border-radius: 50%;
        padding: 2px;
        text-align: center;
        font-size: 20px;
        line-height: 22px;
        color: #fff;
    }
    &.is-open::before {
        transform: inherit;
        content: '-';
    }
}
.Collapsible__contentOuter {
    background: #fff;
    font-size: 14px;

    ul.list li {
        display: inline-block;
    }
    .main-content {
        h1, h2, h3, h4, h5, strong {
            font-weight: 700;
            color: #000;
        }
    }
    .btn-apply {
        @include anchor-style;
        outline: 0;
        border: none;
        background: transparent;
    }
}
@media (min-width: 576px) {
    .Collapsible__trigger {
        font-size: 20px;
        line-height: 26px;
    }
    .Collapsible__contentOuter {
        font-size: 15px;
    }
}
@media (min-width: 768px) {
    .Collapsible__trigger {
        font-size: 22px;
        line-height: 28px;
    }
    .Collapsible,
    .Collapsible:hover,
    .Collapsible:focus {
        padding: 15px 0 0 0;
    }
    .Collapsible__contentOuter {
        margin: 15px 0 0 0;
    }
    .Collapsible__contentOuter {
        font-size: 16px;
    }
}
@media (min-width: 992px) {
    .Collapsible__trigger {
        font-size: 24px;
        line-height: 32px;
    }
    .Collapsible,
    .Collapsible:hover,
    .Collapsible:focus {
        padding: 20px 0 0 0;
        
    }
    .Collapsible__contentOuter {
        margin: 20px 0 0 0;
    }
    .Collapsible__trigger:before {
        width: 30px;
        height: 30px;
        line-height: 26px;
        font-size: 25px;
    }
}