.core-values {
    padding-bottom: 30px;
    .bg-image{
        background-image: url('./images/values-bg.jpg');
        background-size: cover;
        background-position: 100% 100%;
        margin-bottom: -120px;
    }
    .swiper-container {
        padding: 0 50px 30px 0;
    }
    .com-heading {
        padding: 100px 0 200px 0;
    }
    
    .item {
        background-color: #fff;
        padding: 30px;
        box-shadow: 0 0 14px 0 #b9b9b9;

        h4 {
            font-size: 18px;
            line-height: 24px;
        }
        .main-content {
            ul {
                padding-left: 20px;
            }
        }
        
    }
}
@media (min-width: 992px) {
    .core-values {
        .swiper-container {
            padding: 0 0 30px 0;
        }
        .com-heading {
            padding: 100px 0 200px 0;
        }
        .item {
            padding: 40px;
            height: auto;
            flex: 1;
        }
    }
}