.core-values {
    padding-bottom: 30px;
    .bg-image{
        background-image: url('./images/values-bg.jpg');
        margin-bottom: -120px;
    }
    .swiper-container {
        padding-bottom: 30px;
    }
    
        .item {
            background-color: #fff;
            padding: 30px;
            box-shadow: 0 0 14px 0 #b9b9b9;
            height: auto;
            flex: 1;

            h4 {
                font-size: 18px;
                line-height: 24px;
            }
            .main-content {
                ul {
                    padding-left: 20px;
                }
            }
            
        }
}
@media (min-width: 992px) {
    .core-values {
        .com-heading {
            padding: 100px 0 200px 0;
        }
        .item {
            padding: 40px;
        }
    }
}