.project-info {
    margin: 20px 0;
    .item {
        margin: 0 50px 30px 0;
        border-top: 2px solid #ccc;
    
        h4 {
            font-size: 80px;
        }
        p {
            width: 70%;
            margin: -20px 0 0 40%;
            color: #0a9bdf;
        }
    }
}
@media (min-width: 992px) {
    .project-info  {
        margin: 30px 0;
        .item {
            margin: 0 70px 30px 0;
            border-top: 2px solid #ccc;
        
            h4 {
                font-size: 80px;
            }
            p {
                width: 70%;
                margin: -20px 0 0 40%;
                color: #0a9bdf;
            }
        }
    }
}