header {
    width: 100%;
    display: inline-block;
    background-color: transparent;
    position: fixed;
    top: 0;
    z-index: 9;

    .header-inner {
        padding: 0;
        width: 100%;
        border-bottom: 1px solid #b3b8be;
    }
    &.header-fix {
        background-color: #fff;
    }   
}
/*Logo*/
.logo {
    padding: 8px 15px;
}
header {
    .logo-lg {
        display: none;
    }
    .logo-sm {
        display: block;
        img {
            width: 65px;
        }
    }
    .logo-white-text {
        display: block;
    }
    .logo-black-text {
        display:  none;
    }
    &.header-fix {
        .logo-white-text {
            display: none;
        }
        .logo-black-text {
            display:  block;
        }
    }
}
/*Menu*/
.submenu {
    height: 0;
    padding: 0;
    overflow: hidden;
    width: 255px;
    position: absolute;
    background-color: #ccc;
    top: 93px;

    ul {
        padding: 0;
        margin: 0;
    }
    li {
        list-style: none;
        padding: 0;
        margin: 0;
        float: none;

        a {
            color: #000;
            width: 100%;
            float: none;
            display: inline-block;
            padding: 5px 10px;
            display: block;
            
            &:hover {
                background-color: #0f65b2;
                color: #fff;
                text-decoration: none;
            }
        }
        &.active {
            a {
                color: #00d0d2;
            }
        }
    }
    &-enter {
        height: 0;
        overflow: hidden;
    }

    &-enter-active {
        height: auto;
        transition: height 300ms;
    }

    &-enter-done {
        height: auto;
        overflow: visible;
    }

    &-exit {
        height: auto;
    }

    &-exit-active {
        height: 0;
        overflow: hidden;
        transition: height 300ms;
    }
}

@media (min-width: 768px) {
   
}
@media (min-width: 992px) {
    header {
        .logo-lg {
            display: block;

            img {
                width: 90px;
            }
        }
        .logo-sm {
            display: none;
        }
        nav {
            padding: 0;
        }
        .menu-item {
            margin: 0;
            float: left;
            padding: 36px 0;
            margin: 0 5px;
    
            > a {
                padding: 38px 10px;
                color: #fff;
                font-size: 15px;
                font-weight: 600;
    
                &:hover {
                    text-decoration: none;
                    background-color: #0f65b2;
                    color: #fff;
                }
            }
            &.menu-active {
                > a {
                    color: #000;
                    background-color: #ccc;
                }
            }
            &.parentmenu-active {
                background-color: #ccc;
                > a {
                    color: #000;

                    &:hover{
                        color:#fff;
                    }
                }
            }
            &.parentmenu-open {
                background-color: #0f65b2;
                > a {
                    color: #fff;
                }
            }   
        }
    }
    header.header-fix {
        .menu-item {    
            > a {
                color: #000;
    
                &:hover {
                    color: #fff;
                }
            }
        }
    }
    .menu-items,
    nav::after,
    .menu-items li:after {
        clear:both;
    }
}

.grecaptcha-badge{
	visibility: collapse !important;  
}
