@font-face {
	font-family: 'Conv_overpass-bold';
	src: url('../common/fonts/overpass-bold.eot');
	src: local('☺'), url('../common/fonts/overpass-bold.woff') format('woff'), url('../common/fonts/overpass-bold.ttf') format('truetype'), url('../common/fonts/overpass-bold.svg') format('svg');
	font-weight: bolder;
	font-style: normal;
    font-display: swap;
} 

@font-face {
	font-family: 'Conv_overpass-extrabold';
	src: url('../common/fonts/overpass-extrabold.eot');
	src: local('☺'), url('../common/fonts/overpass-extrabold.woff') format('woff'), url('../common/fonts/overpass-extrabold.ttf') format('truetype'), url('../common/fonts/overpass-extrabold.svg') format('svg');
	font-weight: bold;
	font-style: normal;
    font-display: swap;
}

@font-face {
	font-family: 'Conv_overpass-extralight';
	src: url('../common/fonts/overpass-extralight.eot');
	src: local('☺'), url('../common/fonts/overpass-extralight.woff') format('woff'), url('../common/fonts/overpass-extralight.ttf') format('truetype'), url('../common/fonts/overpass-extralight.svg') format('svg');
	font-weight: normal;
	font-style: normal;
    font-display: swap;
}

body {
    padding:0;
    margin:0;
    font-family: 'Conv_overpass-extralight';
    font-size:16px;
    line-height: 26px;
    color: #65737f;
    font-weight: 600;
}
blockquote {
    padding: 10px 20px;
    margin: 0 0 20px;
    font-size: 17.5px;
    border-left: 5px solid #eee;
}

/*For Sharp image style*/
.gatsby-image-wrapper {
    >div {
        padding-bottom:0 !important;
    }
    img {
        opacity: 0 !important;
    }
    picture img {
        opacity: 1 !important;
        position: static !important;
        width: auto !important;
        height:auto !important;
        max-width: 100%;
    }
}

ul.unstyled {
    list-style: none;
    padding: 0;
    margin: 0;
}
.text-black {
    color: #000;
}
.bg-lightgrey {
    background-color: #f1f1f1;
}
.bg-white {
    background-color: #fff;
}
.text-white {
    color: #fff;
}
.blue-bg {
    background-color:#09225a;
}
/* Component Headings */
.com-cover {
    margin: 30px 0;

    p {
        font-size: 15px;
        line-height: 25px;
    }
}
h2.com-heading {
    font-size: 22px;
    line-height: 28px;
    font-weight: 700;
}
h3.com-heading {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 10px;
    font-weight: 700;
}
h3.mod-title {
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    border-bottom: 1px solid #ccc;
}
h3.section-title {
    font-size: 20px;
    line-height: 26px;
    font-weight: 600;
}
/* Carousel */
.swiper-pagination-bullet-active {
    background: #09225a !important;
}
.swiper-button-next {
    top: 10px !important;
    background-image: none !important;

    &:before {
        content: '';
        background-color: #09225a;
        width: 85px;
        height: 1px;
        position: absolute;
        top: 20px;
        right: 0;
        margin-left: 10px;
    }

    &:after {
        content: 'scroll' !important;
        color: #09225a;
        font-family: inherit !important;
        font-size: 16px !important;
        position: absolute;
        right: 100px;
    }

    &:focus {
        outline: 0;
    }
}

@media (min-width: 768px) {
    h2.com-heading {
        font-size: 28px;
        line-height: 34px;
        margin-bottom: 20px;
    }
    h3.com-heading {
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 15px;
    }
    .joinus-img {
        padding-right:0;
        padding-left: 0;
    }
    .joinus-img img {
        height: 100%;
    }
    .culture-cover {
        padding-right: 0;
    }
    .joinus-info-cover,
    .vision-cover {
        padding-left: 0;
    }
}
@media (min-width: 992px) {
    body {
        font-size: 18px;
        line-height: 28px;
    }
    .com-cover {
        margin: 50px 0;

        p {
            font-size: 18px;
            line-height: 28px;
        }
    }   
    h2.com-heading {
        font-size: 34px;
        line-height: 40px;
        margin-bottom: 35px;
    }
    h3.com-heading {
        font-size: 30px;
        line-height: 38px;
        margin-bottom: 20px;
    }
    h3.section-title {
        font-size: 22px;
        line-height: 28px;
    }
}

@media (min-width: 1200px){
    h2.com-heading {
        font-size: 36px;
        line-height: 44px;
        margin-bottom: 50px;
    }
    .com-cover {
        margin: 80px 0;
    }
}
