.bg {
    background: #fff url(./images/industries-bg.png) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.industries-carousel .owl-carousel {
    width: 96%;
    margin: 0 2%;
}
.industries-carousel .owl-nav .owl-prev,
.industries-carousel .owl-nav .owl-next {
    position: absolute;
    color: #09225a !important;
    font-size: 40px !important;
    font-weight: 600 !important;
    line-height: 12px !important;
    top: 50%;
    transform: translate(-50%, 0);
}
.industries-carousel .owl-nav .owl-prev {
    left: -20px;
}
.industries-carousel .owl-nav .owl-next {
    right: -30px;
}

.industries-carousel .owl-item {
    border-right: 1px solid #566376;
    padding: 80px 30px 20px 30px;
    -webkit-transition: 4s;
    transition: 4s;
    min-height: 300px;
}
.industries-carousel .owl-item:hover {
    height:100%;
    background: linear-gradient(to right bottom, #1272bc, #0088cb, #009dd6, #00b2df, #24c7e6);
}
.industries-carousel .owl-item p {
    display:  none;
    position: absolute;
}
.industries-carousel .owl-item:hover p { 
    display: block;
}
