.testimonial-carousel .swiper-container {
    padding: 0 0 30px 0;
}
.testimonial-carousel p {
    color: #32c6f4;
}
.testimonial-carousel .tsml-img {
    width: 90px;
    margin-right:20px;
}
.testimonial-carousel p.tsml-author {
    font-size: 15px;
    color: #000;
}
.testimonial-carousel p {
    color: #32c6f4;
}
.testimonial-carousel .tsml-img img {
    width: 90px !important;
    height: 90px !important;
    border-radius: 50%;
}
.testimonial-carousel .tsml-info {
    width: calc(100% - 110px);
    margin: 0 auto;
}
.testimonial-carousel p.tsml-author {
    font-size: 15px;
    color: #000;
}
@media (min-width: 576px) {
    .testimonial-carousel .tsml-info {
        width: calc(100% - 190px);
        margin: 10px auto;
    }
    .testimonial-carousel .tsml-img {
        width: 120px;
    }
    .testimonial-carousel .tsml-img img {
        width: 120px !important;
        height: 120px !important;
    }
}
@media (min-width: 992px) {
    .testimonial-carousel .tsml-info {
        width: calc(100% - 170px);
        margin: 20px auto;
    }
    .testimonial-carousel .tsml-img {
        width: 150px;
    }
    .testimonial-carousel .tsml-img img {
        width: 150px !important;
        height: 150px !important;
    }
}