header {
    width: 100%;
    display: inline-block;
}
header .header-inner {
    padding: 0;
    width: 100%;
}
.home header {
    background-color: rgba(0, 23, 57, 0.68);
    position: fixed;
    top: 0;
    z-index: 9;
}
.home header.header-fix {
    background-color: rgba(0, 23, 57, 0.68);
}
.home header .header-inner {
    border-bottom: 1px solid #b3b8be;
}
.home header.header-fix .header-inner {
    border-bottom: none;
}

/*Menu*/
header nav {
    padding: 45px 0;
}
.menu-items li {
    margin: 0 10px;
}
nav::after,
.menu-items li:after {
    clear:both;
}
.menu-items li a {
    padding: 5px 2px;
    color: #000;
    font-size: 15px;
    font-weight: 600;
}
.home .menu-items li a {
    color: #fff;
}
.menu-items li a[aria-current="page"]{
    color: #00d0d2;   
}
.menu-items li a:hover {
    text-decoration: none;
    color: #00d0d2;
}

