.digital-evolution-info {
    .section1 {
        .introtext {
            padding: 20px 0;
            h4 {
                font-size: 20px;
                line-height: 26px;
                margin-bottom: 10px;
            }
        }
    }
    .main-content {
        background-color: #f7f7f7;

        .content {
            padding: 20px;
        }
        img {
            width: 100%;
        }
    }
}
@media (min-width: 992px) {
    .section1 {
        .introtext {
            .content {
                padding: 20px;
            }
        }
    }
}
@media (min-width: 1200px) {
    .digital-evolution-info {
        .section1 {
            .introtext {
                padding: 50px 0 20px 0;
                h4 {
                    font-size: 24px;
                    line-height: 30px;
                    margin-bottom: 15px;
                }   
                .content {
                    padding: 30px 70px 20px 20px;
                }
            }
        }
        .main-content {    
            .content {
                padding: 60px 20px 60px 100px;
            }
        }
    }
}