@font-face {
	font-family: 'Conv_overpass-bold';
	src: url('./fonts/overpass-bold.eot');
	src: local('☺'), url('./fonts/overpass-bold.woff') format('woff'), url('./fonts/overpass-bold.ttf') format('truetype'), url('./fonts/overpass-bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
} 

@font-face {
	font-family: 'Conv_overpass-extrabold';
	src: url('./fonts/overpass-extrabold.eot');
	src: local('☺'), url('./fonts/overpass-extrabold.woff') format('woff'), url('./fonts/overpass-extrabold.ttf') format('truetype'), url('./fonts/overpass-extrabold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_overpass-extralight';
	src: url('./fonts/overpass-extralight.eot');
	src: local('☺'), url('./fonts/overpass-extralight.woff') format('woff'), url('./fonts/overpass-extralight.ttf') format('truetype'), url('./fonts/overpass-extralight.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

body {
    padding:0;
    margin:0;
    font-family: 'Conv_overpass-extralight';
    font-size:16px;
    color: #65737f;
    font-weight: 600;
}
ul.unstyled {
    list-style: none;
    padding: 0;
    margin: 0;
}
.text-black {
    color: #000;
}
.bg-lightgrey {
    background-color: #f2f2f2;
}
.bg-white {
    background-color: #fff;
}
.text-white {
    color: #fff;
}
.blue-bg {
    background-color:#09225a;
}
/* Component Headings */
.com-cover {
    padding: 20px 0;
}
h2.com-heading {
    font-size: 28px;
    line-height: 32px;
    font-weight: 700;
    margin-bottom: 15px;
}
h3.com-heading {
    font-size: 26px;
    line-height: 32px;
    font-weight: 700;
    margin-bottom: 15px;
}
h3.mod-title {
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    border-bottom: 1px solid #ccc;
}
/* Owl Carousel */
.owl-nav .owl-prev:hover,
.owl-nav .owl-prev:focus,
.owl-nav .owl-next:hover,
.owl-nav .owl-next:focus {
    background: transparent !important;
    outline: none;
}
.owl-carousel .owl-item img {
    width: auto !important;
}
.owl-carousel .owl-dots button {
    outline: none;
}
/* Join Us */
.join-us a {
    color: #00d0d2;
    text-decoration: none;
}
.joinus-info {
    background: #010836;
    padding: 10%;
    height: 100%;
}
.culture {
    background: #17b1cf;
    padding: 10%;
}
.vision {
    background: #1271bb;
    padding: 10%;
}
/*Testimonial*/
.testimonial-carousel p {
    color: #32c6f4;
}
.tsml-img {
    width: 150px;
    margin-right:20px;
}
.tsml-img img {
    width: 100%;
    height: 150px;
    border-radius: 50%;
}
.tsml-info {
    width: calc(100% - 170px);
    margin: 20px auto;
}
.testimonial-carousel p.tsml-author {
    font-size: 15px;
    color: #000;
}
/*Banner*/
.banner {
    background-image:url('../images/banner.jpg');
    padding: 10% 0;
}
.banner-text p {
    font-size: 15px;
    margin:5px;
}
.banner-text h1 {
    font-size: 42px;
    line-height: 48px;
    font-weight: 700;
}

/* Blog */
.blog-list {
    letter-spacing: 0.5px;
    border-bottom: 1px solid #ccc;
}
.blog-list:last-child {
    border-bottom: none;
}
h3.blog-title a {
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    color: #000;
}
.blog-list img {
    width:100%;
}
.blog-list .blog-info li {
    display: inline-block;
}
.blog-category a {
    color: #00d0d2;
}
.blog-detail {
    letter-spacing: 0.5px;
}
.blog-detail h1 {
    font-size: 36px;
    font-weight: 700;
    line-height: 44px;
}
.blog-detail li {
    display:inline-block;
}
.blog-cat-list li {
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.5px;
    border-bottom:1px solid #f2f2f2;
    padding:0 0 10px 0;
    margin:0 0 10px 0;
}
.blog-cat-list li:last-child {
    border-bottom: none;
    padding:0;
    margin:0;
}
@media (min-width: 576px) {
    h2.com-heading {
        font-size: 30px;
        line-height: 34px;
    }
}
@media (min-width: 768px) {
    h2.com-heading {
        font-size: 32px;
        line-height: 36px;
        margin-bottom: 20px;
    }
    h3.com-heading {
        font-size: 28px;
        line-height: 36px;
        margin-bottom: 20px;
    }
}
@media (min-width: 992px) {
    .com-cover {
        padding: 40px 0;
    }   
    h2.com-heading {
        font-size: 36px;
        line-height: 42px;
    }
    h3.com-heading {
        font-size: 30px;
        line-height: 38px;
    }
    h3.section-title {
        font-size: 22px;
        line-height: 28px;
        font-weight: 600;
    }
    .joinus-img {
        padding-right:0;
    }
    .culture-cover {
        padding-right: 0;
    }
    .joinus-info-cover,
    .vision-cover {
        padding-left: 0;
    }
}

@media (min-width: 1200px){

}
