@import '../common/scss/mixins.scss';
@import '../common/scss/mixins.scss';

.digital-evolution-carousel {
    .swiper-container {
        padding: 50px 0 10px 0;
    }
    .swiper-pagination {
        bottom: 0;
    }
    h3.section-title {
        position: relative;
        margin-right: 30px;
        font-size: 20px;
    }
    h3.section-title:after {
        content: '';
        background: rgb(9,9,121);
        background: linear-gradient(90deg, rgba(8,154,221,0.6) 0%, rgba(9,9,121,1) 100%);
        width: 30px;
        height: 3px;
        position: absolute;
        bottom: 11px;
        margin-left: 10px;
    }

    a.read-more {
        @include anchor-style;
    }
    .gatsby-image-wrapper picture img {
        transition: all 0.4s ease !important;
        -webkit-transition: all 0.4s ease !important;
        -moz-transition: all 0.4s ease !important;
        -o-transition: all 0.4s ease !important;
    }
    .gatsby-image-wrapper:hover picture img {
        transform: scale(1.05);
    }
}
.digital-evolution {
    a {
        @include anchor-style; 
    }
}