.join-us {
    a {
        color: #00d0d2;
        text-decoration: none;
    }
    .joinus-info {
        background: #010836;
        padding: 10%;
        height: 100%;
    }
    .joinus-img img {
        width: 100% !important;
    }
}
