@import '../common/scss/mixins.scss';

.join-us {
    a {
        @include anchor-style;
    }
    .joinus-info-cover {
        background: #010836;
    }
    .joinus-info {
        background: #010836;
        padding: 10%;
        height: 100%;
    }
    .joinus-img img {
        width: 100% !important;
    }
}
