@import "../common/scss/mixins.scss";
.blog-list {
    letter-spacing: 0.5px;

    &:last-child {
        border-bottom: none;
    }
    h3.blog-title a {
        font-size: 24px;
        line-height: 32px;
        font-weight: 700;
        color: #000;
    }
    img {
        width:100%;
    }
    .blog-info li {
        display: inline-block;
    }
    .blog-category a {
        @include anchor-style;
    }
    a.read-more {
        @include anchor-blue-style;
    }
    .featured-thumbnail {
        margin-bottom: 15px;
    }
}
.pagination li a {
    color:#333 !important;

    &:hover {
        text-decoration: none;
        color: #216db6 !important;
    }
}