.industries-info {
    .section1 {
        .introtext {
            padding: 20px 0;
            p {
                font-size: 20px;
                line-height: 26px;
                margin-bottom: 10px;
            }
        }
    }
    .main-content {
        .content {
            padding: 20px;
        }
        img {
            width: 100%;
        }
    }
}
@media (min-width: 992px) {
    .industries-info {
        .section1 {
            .introtext {
                padding: 20px;
            }
        }
    }
}
@media (min-width: 1200px) {
    .industries {
        .introtext {
            padding: 50px 40px 20px 140px;
            p {
                font-size: 22px;
                line-height: 28px;
            }   
        }
        
        .main-content {  
            h4 {
                color: #000;
                font-size: 22px;
                line-height: 28px;
                font-weight: 700;
            }  
            li {
                color: #000;
                font-size: 18px;
                line-height: 24px;
                font-weight: normal;
            }
            .content {
                padding: 20px;
            }
        }
    }
}
