@import "../common/scss/mixins.scss";
.blog-list {
    letter-spacing: 0.5px;

    &:last-child {
        border-bottom: none;
    }
    h3.blog-title {
        border-left: 5px solid $anchor-blue-color;
        padding-left: 10px;    
    }
    h3.blog-title a {
        font-size: 24px;
        line-height: 32px;
        font-weight: 700;
        color: #000;
    }
    img {
        width:100%;
    }
    .sub-title {
        color: #00d0d2;
        position: relative;
        text-decoration: none;
    }
    .read-more {
        @include anchor-blue-style;
    }
    .featured-thumbnail {
        margin-bottom: 15px;
    }
}