.prod-item {
    height: 100%;
}
.prod-item:hover {
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}
.prod-item .icon {
    width:100%;
}
.prod-item a {
    display: none;
    color: #00d0d2;
}
.prod-item:hover  a {
    display: block;
}